#conteiner-paid {
    margin: 40px;
    width: 900px;
}

#conteiner-paid h3 {
    font-weight: 600;
    font-size: 34px;
    color: #2A5B45;
    text-align: right;
    margin-right: 0px;
    margin-top: 90px;
}

#conteiner-paid h5 {
    font-weight: 600;
    font-size: 18px;
    margin-top: 32px;
    margin-bottom: 24px;
}

#conteiner-debit {
    padding-bottom: 24px;
}

#conteiner-transferencia {
    border-top: 1px solid #E3DED7;
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #E3DED7;
}

#debit {
    margin-right: 23px;
    background: #2A5B45;
    border-radius: 4px;
    padding: 12px 24px;
    color: white;
    border: #2A5B45;
    cursor: pointer;
}

#titular-form input {
    width: 279px;
    height: 36px;
    border: 1px solid #D1D5DB;
    border-radius: 6px;
    margin-bottom: 8px;
}

#target-form input {
    width: 279px;
    height: 36px;
    border: 1px solid #D1D5DB;
    border-radius: 6px;
    margin-bottom: 8px;
}

#secret-form input {
    width: 127.5px;
    height: 36px;
    border: 1px solid #D1D5DB;
    border-radius: 6px;
    margin-bottom: 8px;
}

#expiration-form input {
    width: 127.5px;
    height: 36px;
    border: 1px solid #D1D5DB;
    border-radius: 6px;
    margin-bottom: 8px;
    margin-right: 11px;
}

#expiration-cvc {
    display: flex;
}