#header {
    background-color: #2B2A2B;
    color: white;
    display: flex;
    font-size: 14px;
    font-style: normal;
    flex-direction: row;
    align-items: center;
    padding: 12px, 40px, 12px, 40px;
    justify-content: space-between;
    /* width: 100%; */
    height: 64px;
}