#pre-footer {
    color: white;
    background-color: #1F1815;
    display: flex;
    justify-content: flex-start;
width: 1903px;
}

#move{
    display: inline-flex;
    /* justify-content: space-evenly; */
    /* text-align: center; */
    align-items: center;
    width: 180px;
    margin-top: -15px;
}

#logos-footer {
    margin: 28px 300px 40px 37px;
    display: flex;
    flex-direction: column;
    text-align: start;
}


#logos-footer h5 {
    font-weight: 600;
    font-size: 18px;
    margin: 20px 0 16px 37px;
}

#remake-icon-number {
    background: #515051;
    width: 182px;
    height: 48px;
    border-radius: 4px;
    text-align: center;
    margin-left: 34px;
    margin-bottom: 32px;
}

#remake-icon-number p {
    padding-top: 15px;
}

#remake-icon-number img {
    padding-top: 15px;
}

#remake-icon-mail {
    background: #515051;
    width: 182px;
    height: 48px;
    border-radius: 4px;
    text-align: center;
    margin-left: 34px;
    margin-bottom: 32px;
    padding-left: 5px;
    padding-right: 6px;
}

#remake-icon-mail p {
    padding-top: 15px;

}

#remake-icon-mail img {
    padding-top: 15px;
}

#flex{
    display: flex;
}

#logos-footer IconLogin {
    margin: 16px 0 16px 0;
}

.list-footer {
    margin: 83px 176px 43px 0;
    flex-direction: column;
    margin-left: 200px;
}

.list-footer li a {
    text-decoration: none;
    color: white;
}

.list-footer li {
    list-style: none;
    padding-bottom: 16px;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-size: 14px;
}

#listTerms {
    margin: 83px 0 43px 0;
    display: flex;
    flex-direction: column;
    margin-left: 190px;
}

#listTerms li {
    padding-bottom: 16px;
    font-weight: 600;
    font-size: 14px;
    display: flex;
    list-style: none;
}