#box-precio-total {
    background: #F7F5F3;
    width: 450px;
    padding: 24px;
    position: absolute;
    top: 70px;
    right: 60px;
}

#box-precio-total h5 {
    font-weight: 600;
    font-size: 18px;
}

#caja-subtotal {
    border-top: 1px solid #E3DED7;
    margin-top: 10px;
    padding-top: 16px;
}
.caja-envio span{
    font-weight: 700;
}

.caja-envio {
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
}


#total-id span{
    font-weight: 700;
}



#total-id h6{
    font-size: 15px;
    margin-top: 0px;
}

.btn-price-check{
    background-color: #dadada;
}

#total-id {
    display: flex;
    border-top: 1px solid #E3DED7;
    padding-top: 16px;
    justify-content: space-between;
    padding-bottom: 8px;
}

.iva {
    margin-left: 322px;
    margin-bottom: 16px;
    font-weight: 500;
    margin-top: -40px;
    font-size: 14px;
    width: 500px;
    color: #515051
}

#div-grande button{
background-color: #2A5B45;
}

#pagar button{
    background-color: #2A5B45;
    color: white;
    border: none;
    width: 200px;
    font-size: 17px;
    font:200;
    border-radius: 4px;
}

#buttons-total-price a {
    text-decoration: none;
}
#botons button{
    background-color: #2A5B45;
    color: white;
    border-radius: 4px;
    border: none;
}
#compra button{
 
    background-color: #E3DED7;
    color: #2A5B45;
    background: transparent;
    margin-left: 10px;
    Font-size: 16px;
    font-weight: 500;
    /* border-color: #E3DED7; */
    border: none;
    text-decoration: underline;
    width: 200px;
}

#botons{
    display: flex;
}

/* #buttons-total-price button{
    background-color: #2A5B45;
    border-radius: 4px;
    color: white;
} */
.testimonial-contenedor{
    background-color: #F7F5F3;
}

.btncompra{
    background-color: #E3DED7;
}



.btn-shop-go {
    color: white;
    border: none;
    background-color: transparent;
    width: 147px;
    font-weight: 600;
    font-size: 14px;
}


.btnPrice {
   
    border-radius: 4px;
    color: white;
    padding: 15px;
    border: none;
}